html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #0f0151;
}

header {
  margin: 15px 10px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  min-width: 620px;
}

header nav {
  display: flex;
  gap: 50px;
}

header nav a {
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
header a img {
  width: 150px;
  height: 55px;
}

section div {
  background-color: white;
  width: 600px;
  margin: 20px;
  border-radius: 12px;
  padding: 20px;
}
section h1 {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  font-size: 42px;
  color: black;
  margin-bottom: 20px;
  /* font-weight: 600px; */
}
section p {
  font-size: 18px;
  color: black;
  line-height: 2;
  margin-bottom: 20px;
}
.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 15px;
}
@media (max-width: 960px) {
  .nav-burger {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .burger {
    display: block;
  }
}
